/* main.css */
@import url(reset.css);
/* font-family: 'Noto Sans KR', sans-serif; */
a {
  text-decoration: none;
}

/* 768px~ */
@media screen and (max-width: 1023px) {
  body {
    background-color: #000;
  }
  #wrap {
    max-width: 768px;
    margin: 0 auto;
  }
  /* .main_visual{}display: flex; justify-content: flex-end; */
  #header {
    width: 100%;
    z-index: 150;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header_wrap {
    padding: 27px 48px;
  }
  .header_wrap::after {
    display: block;
    content: '';
    clear: both;
  }
  .header_inner {
    float: left;
    width: 100%;
  }
  #container {
    width: 100%;
    margin-top: 200px;
  }
  .content1 {
    width: 70%;
    margin: 0 auto;
  }
  .content2 {
    width: 70%;
    margin: 0 auto;
  }
  #footer {
    position: relative;
    padding: 0 20px;
    margin-top: 400px;
    padding-bottom: 45px;
  }
  .footer_inner {
    width: 100%;
  }

  /* header */
  .header_inner > h1 {
    width: 40px;
    height: 20px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/Play/header-nc-icon-dark.png) no-repeat 50% 50%;
    background-size: 40px 20px;
  }
  .gnb > ul {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
  }
  .gnb > ul > li {
    display: inline;
  }

  .gnb > ul > li.on > a {
    color: #fff;
  }
  .gnb > ul > li.on > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    border: 0.5px solid #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  }
  .gnb > ul > li.on:hover > a::after {
    transform: scaleX(1);
  }
  .gnb > ul > li > a {
    font-size: 15px;
    color: #a9a9a9;
    padding: 0 10px;
  }

  /* 검색버튼 */
  .header_inner > a {
    display: block;
    position: absolute;
    top: 27px;
    right: 40px;
    width: 20px;
    height: 20px;
    margin-right: 25px;
    background: url(../images/Play/search-ic-search-dark.png) no-repeat 50% 50%;
    text-indent: -9999px;
    overflow: hidden;
    background-size: 20px 20px;
  }

  /* 검색박스 */
  .srch_inner {
    display: none;
  }
  .srch_inner.on {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  .srch_inner.on > form {
    margin: 0 auto;
  }
  .srch_inner.on > form > fieldset {
    width: 100%;
  }
  .srch_inner.on > form > fieldset > input {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #fff;
    font-size: 40px;
    text-indent: 115px;
  }
  .srch_inner.on > form > fieldset > button {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 72px;
    height: 72px;
    background: url(../images/Play/search-ic-search-dark.png) no-repeat 50% 50%;
    background-size: 50%;
    text-indent: -9999px;
    overflow: hidden;
  }
  .srch_inner.on > form > dl {
    padding: 30px;
    line-height: 200%;
  }
  .srch_inner.on > form > dl > dt {
    color: #9ea6a8;
  }
  .srch_inner.on > form > dl > dd > a {
    color: #fff;
    font-weight: bold;
  }

  .btn_srch_close {
    display: none;
  }
  .btn_srch_close.on {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
    width: 72px;
    height: 72px;
    background: url(../images/Play/search-ic-close-dark.png) no-repeat 50% 50%;
    background-size: 50%;
    text-indent: -9999px;
    overflow: hidden;
  }
  .btn_srch_close.on:hover {
    animation: exit_ani 0.3s linear 0s;
  }
  @keyframes exit_ani {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  /* 전체메뉴 */
  .allMenu {
    width: 100%;
    height: 100%;
  }
  .allMenu > .topMenu > a {
    z-index: 60;
    position: absolute;
    right: 20px;
    top: 27px;
    width: 20px;
    height: 20px;
    background: url(../images/Play/header-menu-icon-dark.png) no-repeat 50% 50%;
    background-size: 20px 20px;
    text-indent: -9999px;
    overflow: hidden;
    transition: all 0.5s linear 0s;
  }
  .allMenu > div.topMenu_bg {
    opacity: 0;
    transition: all 0.5s linear 0s;
  }
  .allMenu > .topMenu > dd {
    display: none;
    opacity: 0;
    transition: opacity 0.5s linear 0s;
  }

  .allMenu.on > .topMenu > a {
    background: url(../images/Play/ic-close-dark.png) no-repeat 50% 50%;
    background-size: 28px 28px;
  }
  .allMenu.on > .topMenu > dd {
    z-index: 50;
    position: relative;
    display: block;
    float: left;
    width: 30%;
    opacity: 1;
    padding-left: 10px;
    border-left: 0.5px solid #fff;
    padding-bottom: 40px;
  }

  .allMenu.on > .topMenu > dd:nth-of-type(1) > ul > li,
  .allMenu.on > .topMenu > dd:nth-of-type(2) > ul > li {
    padding-top: 20px;
  }
  .allMenu.on > .topMenu > dd:nth-of-type(1) > ul > li > a,
  .allMenu.on > .topMenu > dd:nth-of-type(2) > ul > li > a {
    font-weight: bold;
  }

  .allMenu.on > .topMenu > dd:nth-of-type(3) > ul > li,
  .allMenu.on > .topMenu > dd:nth-of-type(4) > ul > li {
    padding-top: 10px;
  }
  .allMenu.on > .topMenu > dd:nth-of-type(3) > ul > li > a,
  .allMenu.on > .topMenu > dd:nth-of-type(4) > ul > li > a {
    font-size: 20px;
  }

  .allMenu.on > .topMenu > dd > a {
    font-size: 20px;
    color: #fff;
  }
  .allMenu.on > .topMenu > dd > ul > li > a {
    color: #fff;
    font-size: 40px;
  }
  .allMenu.on > div.topMenu_bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 200%;
    opacity: 1;
  }

  /* content1 */

  .content1 > .sub_menu > dl > dt {
    width: 100%;
    color: #fff;
    font-size: 25px;
    color: #000;
    font-weight: bold;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
  }
  .content1 > .sub_menu > dl > dd {
    margin-top: 30px;
    display: inline;
  }
  .content1 > .sub_menu > dl > dd > a {
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
    text-align: center;
  }
  .content1 > .sub_menu > dl > dd > a:first-child {
    padding-left: 0;
  }

  /* content2 */
  .content2 > p {
    margin-top: 40px;
    font-size: 16px;
    color: #fff;
    text-align: center;
  }
  .content2 > form {
    margin-top: 60px;
  }
  .content2 > form > fieldset > dl > dt {
    margin-bottom: 20px;
  }
  .content2 > form > fieldset > dl > dt > label {
    color: #a9a9a9;
    font-size: 12px;
  }
  form dd.Select_Area select {
    width: 226px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a9a9a9;
    background-color: #000;
    color: #fff;
  }
  form dd {
    margin-top: 60px;
  }
  form dd:nth-of-type(1) {
    margin-top: 0px;
  }

  form dd:nth-of-type(2) > input {
    padding-bottom: 12px;
    font-size: 16px;
    background-color: #000;
    color: #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  form dd:nth-of-type(3) > textarea {
    height: 202px;
    border: 1px solid #a9a9a9;
    font-size: 16px;
    background-color: #000;
    color: #a9a9a9;
    padding: 23px;
  }
  form dd:nth-of-type(3) > p {
    color: #fff;
    margin-left: 0px;
  }
  form dd:nth-of-type(4) {
    position: relative;
  }
  form dd:nth-of-type(4) > input {
    width: 300px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #000;
  }
  form dd:nth-of-type(4) > input.attach_btn {
    background-color: #000;
  }

  form div.submit > input {
    margin-top: 100px;
    width: 161px;
    height: 53px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
  }

  /* footer */
  .footer_inner {
    position: relative;
    width: 100%;
    padding: 10px;
  }
  .footer_inner > .foot_banner > .foot_banner_bg {
    height: 90px;
    background: url(../images/Play/footer-logo-dark.png) no-repeat 50% 50%;
    background-size: 100%;
  }
  .footer_inner > .foot_banner > .foot_video {
    position: absolute;
    left: 100px;
    top: 38px;
    width: 90px;
  }
  .footer_inner > .sns {
    margin-left: 150px;
    margin-top: 50px;
  }

  .footer_inner > .sns > ul > li {
    position: relative;
    left: -50px;
    display: inline;
    padding: 5px;
    opacity: 0.2;
    transition: opacity 0.2s linear 0s;
  }
  .footer_inner > .sns > ul > li:hover {
    opacity: 1;
  }
  .footer_inner > .sns > ul > li > a > img {
    height: 22px;
  }
  .footer_inner > address {
    margin-left: 40px;
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
  }
  .footer_inner > address > span {
    opacity: 0.2;
    transition: opacity 0.2s linear 0s;
    cursor: pointer;
  }
  .footer_inner > address > span:hover {
    opacity: 1;
  }

  .footer_inner > .copy {
    margin-left: 32px;
    color: #fff;
    opacity: 0.2;
    font-size: 14px;
  }

  /* top 버튼 */
  #footer > .top {
    position: absolute;
    left: 50%;
    bottom: 500px;
    transform: scale(70%);
  }
  #footer > .top > a > img {
    width: 68px;
    height: 86px;
  }
  #footer > .top:hover {
    animation: top_ani 0.8s linear 0s infinite;
  }
  @keyframes top_ani {
    0% {
      transform: translateY(0px) scale(70%);
    }
    100% {
      transform: translateY(-100px) scale(70%);
    }
  }
}

/* 1024px~ */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  body {
    background-color: #000;
  }
  #wrap {
    min-width: 1024px;
    max-width: 1439px;
    margin: 0 auto;
  }
  /* .main_visual{}display: flex; justify-content: flex-end; */
  #header {
    width: 100%;
    z-index: 150;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header_wrap {
    padding: 27px 48px;
  }
  .header_wrap::after {
    display: block;
    content: '';
    clear: both;
  }
  .header_inner {
    float: left;
    width: 100%;
  }
  #container {
    width: 100%;
    margin-top: 200px;
    display: flex;
  }
  .content1 {
    width: 15%;
    margin-left: 48px;
  }
  .content2 {
    width: 70%;
    margin-left: 100px;
  }
  #footer {
    position: relative;
    padding: 0 48px;
    margin-top: 400px;
    padding-bottom: 45px;
  }
  .footer_inner {
    width: 100%;
  }

  /* header */
  .header_inner > h1 {
    width: 52px;
    height: 28px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/Play/header-nc-icon-dark.png) no-repeat 50% 50%;
    background-size: 52px 28px;
  }
  .gnb > ul {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
  }
  .gnb > ul > li {
    display: inline;
  }

  .gnb > ul > li.on > a {
    color: #fff;
  }
  .gnb > ul > li.on > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    border: 0.5px solid #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  }
  .gnb > ul > li.on:hover > a::after {
    transform: scaleX(1);
  }
  .gnb > ul > li > a {
    font-size: 25px;
    color: #a9a9a9;
    padding: 0 10px;
  }

  /* 검색버튼 */
  .header_inner > a {
    display: block;
    position: absolute;
    top: 27px;
    right: 95px;
    width: 28px;
    height: 28px;
    margin-right: 25px;
    background: url(../images/Play/search-ic-search-dark.png) no-repeat 50% 50%;
    text-indent: -9999px;
    overflow: hidden;
    background-size: 28px 28px;
  }

  /* 검색박스 */
  .srch_inner {
    display: none;
  }
  .srch_inner.on {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  .srch_inner.on > form {
    margin: 0 auto;
  }
  .srch_inner.on > form > fieldset {
    width: 100%;
  }
  .srch_inner.on > form > fieldset > input {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #fff;
    font-size: 40px;
    text-indent: 115px;
  }
  .srch_inner.on > form > fieldset > button {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 72px;
    height: 72px;
    background: url(../images/Play/search-ic-search-dark.png) no-repeat 50% 50%;
    background-size: 50%;
    text-indent: -9999px;
    overflow: hidden;
  }
  .srch_inner.on > form > dl {
    padding: 30px;
    line-height: 200%;
  }
  .srch_inner.on > form > dl > dt {
    color: #9ea6a8;
  }
  .srch_inner.on > form > dl > dd > a {
    color: #fff;
    font-weight: bold;
  }

  .btn_srch_close {
    display: none;
  }
  .btn_srch_close.on {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
    width: 72px;
    height: 72px;
    background: url(../images/Play/search-ic-close-dark.png) no-repeat 50% 50%;
    background-size: 50%;
    text-indent: -9999px;
    overflow: hidden;
  }
  .btn_srch_close.on:hover {
    animation: exit_ani 0.3s linear 0s;
  }
  @keyframes exit_ani {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  /* 전체메뉴 */
  .allMenu {
    width: 100%;
    height: 100%;
  }
  .allMenu > .topMenu > a {
    z-index: 60;
    position: absolute;
    right: 48px;
    top: 27px;
    width: 28px;
    height: 28px;
    background: url(../images/Play/header-menu-icon-dark.png) no-repeat 50% 50%;
    background-size: 28px 28px;
    text-indent: -9999px;
    overflow: hidden;
    transition: all 0.5s linear 0s;
  }
  .allMenu > div.topMenu_bg {
    opacity: 0;
    transition: all 0.5s linear 0s;
  }
  .allMenu > .topMenu > dd {
    display: none;
    opacity: 0;
    transition: opacity 0.5s linear 0s;
  }

  .allMenu.on > .topMenu > a {
    background: url(../images/Play/ic-close-dark.png) no-repeat 50% 50%;
    background-size: 28px 28px;
  }
  .allMenu.on > .topMenu > dd {
    z-index: 50;
    position: relative;
    display: block;
    float: left;
    width: 30%;
    opacity: 1;
    padding-left: 10px;
    border-left: 0.5px solid #fff;
    padding-bottom: 40px;
  }

  .allMenu.on > .topMenu > dd:nth-of-type(1) > ul > li,
  .allMenu.on > .topMenu > dd:nth-of-type(2) > ul > li {
    padding-top: 20px;
  }
  .allMenu.on > .topMenu > dd:nth-of-type(1) > ul > li > a,
  .allMenu.on > .topMenu > dd:nth-of-type(2) > ul > li > a {
    font-weight: bold;
  }

  .allMenu.on > .topMenu > dd:nth-of-type(3) > ul > li,
  .allMenu.on > .topMenu > dd:nth-of-type(4) > ul > li {
    padding-top: 10px;
  }
  .allMenu.on > .topMenu > dd:nth-of-type(3) > ul > li > a,
  .allMenu.on > .topMenu > dd:nth-of-type(4) > ul > li > a {
    font-size: 20px;
  }

  .allMenu.on > .topMenu > dd > a {
    font-size: 20px;
    color: #fff;
  }
  .allMenu.on > .topMenu > dd > ul > li > a {
    color: #fff;
    font-size: 40px;
  }
  .allMenu.on > div.topMenu_bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 200%;
    opacity: 1;
  }

  /* content1 */
  .content1 > .sub_menu > dl {
    flex-wrap: wrap;
    border: 1px solid #a9a9a9;
    padding: 20px;
  }
  .content1 > .sub_menu > dl > dt {
    width: 100%;
    color: #fff;
    font-size: 30px;
    color: #000;
    font-weight: bold;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }
  .content1 > .sub_menu > dl > dd {
    margin-top: 30px;
  }
  .content1 > .sub_menu > dl > dd > a {
    font-size: 16px;
    color: #fff;
    padding: 0 30px;
  }
  .content1 > .sub_menu > dl > dd > a:first-child {
    padding-left: 0;
  }

  /* content2 */
  .content2 > p {
    margin-top: 40px;
    margin-left: 35px;
    font-size: 16px;
    color: #fff;
  }
  .content2 > form {
    margin-top: 60px;
    margin-left: 35px;
  }
  .content2 > form > fieldset > dl > dt {
    margin-bottom: 20px;
  }
  .content2 > form > fieldset > dl > dt > label {
    color: #a9a9a9;
    font-size: 12px;
  }
  form dd.Select_Area select {
    width: 226px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a9a9a9;
    background-color: #000;
    color: #fff;
  }
  form dd {
    margin-top: 60px;
  }
  form dd:nth-of-type(1) {
    margin-top: 0px;
  }

  form dd:nth-of-type(2) > input {
    width: 750px;
    padding-bottom: 12px;
    font-size: 16px;
    background-color: #000;
    color: #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  form dd:nth-of-type(3) > textarea {
    width: 704px;
    height: 202px;
    border: 1px solid #a9a9a9;
    font-size: 16px;
    background-color: #000;
    color: #a9a9a9;
    padding: 23px;
  }
  form dd:nth-of-type(3) > p {
    color: #fff;
    margin-left: 709px;
  }
  form dd:nth-of-type(4) {
    position: relative;
  }
  form dd:nth-of-type(4) > input {
    width: 530px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #000;
  }
  form dd:nth-of-type(4) > input.attach_btn {
    background-color: #000;
  }

  form div.submit > input {
    margin-left: 330px;
    margin-top: 100px;
    width: 161px;
    height: 53px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
  }

  /* footer */
  .footer_inner {
    position: relative;
  }
  .footer_inner > .foot_banner > .foot_banner_bg {
    width: 700px;
    height: 100px;
    background: url(../images/Play/footer-logo-dark.png) no-repeat 50% 50%;
    background-size: 80%;
  }
  .footer_inner > .foot_banner > .foot_video {
    position: absolute;
    left: 210px;
    top: -10px;
    width: 160px;
    height: 119px;
  }
  .footer_inner > .sns {
    position: absolute;
    right: 0;
    top: 0;
  }

  .footer_inner > .sns > ul > li {
    display: inline;
    padding-left: 40px;
    opacity: 0.2;
    transition: opacity 0.2s linear 0s;
  }
  .footer_inner > .sns > ul > li:hover {
    opacity: 1;
  }
  .footer_inner > .sns > ul > li > a > img {
    height: 22px;
  }
  .footer_inner > address {
    position: absolute;
    right: 0;
    top: 49px;
    color: #fff;
    font-size: 14px;
  }
  .footer_inner > address > span {
    opacity: 0.2;
    transition: opacity 0.2s linear 0s;
    cursor: pointer;
  }
  .footer_inner > address > span:hover {
    opacity: 1;
  }

  .footer_inner > .copy {
    position: absolute;
    right: 0;
    top: 70px;
    color: #fff;
    opacity: 0.2;
    font-size: 14px;
  }

  /* top 버튼 */
  #footer > .top {
    position: absolute;
    right: 45px;
    bottom: 605px;
  }
  #footer > .top > a > img {
    width: 68px;
    height: 86px;
  }
  #footer > .top:hover {
    animation: top_ani 0.8s linear 0s infinite;
  }
  @keyframes top_ani {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
}

/* 1024px~ */
@media screen and (min-width: 1440px) {
  body {
    background-color: #000;
  }
  #wrap {
    min-width: 1440px;
    margin: 0 auto;
  }
  /* .main_visual{}display: flex; justify-content: flex-end; */
  #header {
    width: 100%;
    z-index: 150;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header_wrap {
    padding: 27px 48px;
  }
  .header_wrap::after {
    display: block;
    content: '';
    clear: both;
  }
  .header_inner {
    float: left;
    width: 100%;
  }
  #container {
    width: 100%;
    margin-top: 200px;
    display: flex;
  }
  .content1 {
    width: 15%;
    margin-left: 48px;
  }
  .content2 {
    width: 70%;
    margin-left: 220px;
  }
  #footer {
    position: relative;
    padding: 0 48px;
    margin-top: 400px;
    padding-bottom: 45px;
  }
  .footer_inner {
    width: 100%;
  }

  /* header */
  .header_inner > h1 {
    width: 52px;
    height: 28px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/Play/header-nc-icon-dark.png) no-repeat 50% 50%;
    background-size: 52px 28px;
  }
  .gnb > ul {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
  }
  .gnb > ul > li {
    display: inline;
  }

  .gnb > ul > li.on > a {
    color: #fff;
  }
  .gnb > ul > li.on > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    border: 0.5px solid #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 400ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
  }
  .gnb > ul > li.on:hover > a::after {
    transform: scaleX(1);
  }
  .gnb > ul > li > a {
    font-size: 25px;
    color: #a9a9a9;
    padding: 0 10px;
  }

  /* 검색버튼 */
  .header_inner > a {
    display: block;
    position: absolute;
    top: 27px;
    right: 95px;
    width: 28px;
    height: 28px;
    margin-right: 25px;
    background: url(../images/Play/search-ic-search-dark.png) no-repeat 50% 50%;
    text-indent: -9999px;
    overflow: hidden;
    background-size: 28px 28px;
  }

  /* 검색박스 */
  .srch_inner {
    display: none;
  }
  .srch_inner.on {
    z-index: 1000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  .srch_inner.on > form {
    margin: 0 auto;
  }
  .srch_inner.on > form > fieldset {
    width: 100%;
  }
  .srch_inner.on > form > fieldset > input {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #a9a9a9;
    color: #fff;
    font-size: 40px;
    text-indent: 115px;
  }
  .srch_inner.on > form > fieldset > button {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 72px;
    height: 72px;
    background: url(../images/Play/search-ic-search-dark.png) no-repeat 50% 50%;
    background-size: 50%;
    text-indent: -9999px;
    overflow: hidden;
  }
  .srch_inner.on > form > dl {
    padding: 30px;
    line-height: 200%;
  }
  .srch_inner.on > form > dl > dt {
    color: #9ea6a8;
  }
  .srch_inner.on > form > dl > dd > a {
    color: #fff;
    font-weight: bold;
  }

  .btn_srch_close {
    display: none;
  }
  .btn_srch_close.on {
    z-index: 1000;
    display: block;
    position: absolute;
    right: 25px;
    top: 15px;
    width: 72px;
    height: 72px;
    background: url(../images/Play/search-ic-close-dark.png) no-repeat 50% 50%;
    background-size: 50%;
    text-indent: -9999px;
    overflow: hidden;
  }
  .btn_srch_close.on:hover {
    animation: exit_ani 0.3s linear 0s;
  }
  @keyframes exit_ani {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  /* 전체메뉴 */
  .allMenu {
    width: 100%;
    height: 100%;
  }
  .allMenu > .topMenu > a {
    z-index: 60;
    position: absolute;
    right: 48px;
    top: 27px;
    width: 28px;
    height: 28px;
    background: url(../images/Play/header-menu-icon-dark.png) no-repeat 50% 50%;
    background-size: 28px 28px;
    text-indent: -9999px;
    overflow: hidden;
    transition: all 0.5s linear 0s;
  }
  .allMenu > div.topMenu_bg {
    opacity: 0;
    transition: all 0.5s linear 0s;
  }
  .allMenu > .topMenu > dd {
    display: none;
    opacity: 0;
    transition: opacity 0.5s linear 0s;
  }

  .allMenu.on > .topMenu > a {
    background: url(../images/Play/ic-close-dark.png) no-repeat 50% 50%;
    background-size: 28px 28px;
  }
  .allMenu.on > .topMenu > dd {
    z-index: 50;
    position: relative;
    display: block;
    float: left;
    width: 30%;
    opacity: 1;
    padding-left: 10px;
    border-left: 0.5px solid #fff;
    padding-bottom: 40px;
  }

  .allMenu.on > .topMenu > dd:nth-of-type(1) > ul > li,
  .allMenu.on > .topMenu > dd:nth-of-type(2) > ul > li {
    padding-top: 20px;
  }
  .allMenu.on > .topMenu > dd:nth-of-type(1) > ul > li > a,
  .allMenu.on > .topMenu > dd:nth-of-type(2) > ul > li > a {
    font-weight: bold;
  }

  .allMenu.on > .topMenu > dd:nth-of-type(3) > ul > li,
  .allMenu.on > .topMenu > dd:nth-of-type(4) > ul > li {
    padding-top: 10px;
  }
  .allMenu.on > .topMenu > dd:nth-of-type(3) > ul > li > a,
  .allMenu.on > .topMenu > dd:nth-of-type(4) > ul > li > a {
    font-size: 20px;
  }

  .allMenu.on > .topMenu > dd > a {
    font-size: 20px;
    color: #fff;
  }
  .allMenu.on > .topMenu > dd > ul > li > a {
    color: #fff;
    font-size: 40px;
  }
  .allMenu.on > div.topMenu_bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    width: 100%;
    height: 200%;
    opacity: 1;
  }

  /* content1 */
  .content1 > .sub_menu > dl {
    flex-wrap: wrap;
    border: 1px solid #a9a9a9;
    padding: 20px;
  }
  .content1 > .sub_menu > dl > dt {
    width: 100%;
    color: #fff;
    font-size: 40px;
    color: #000;
    font-weight: bold;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }
  .content1 > .sub_menu > dl > dd {
    margin-top: 30px;
  }
  .content1 > .sub_menu > dl > dd > a {
    font-size: 16px;
    color: #fff;
    padding: 0 30px;
  }
  .content1 > .sub_menu > dl > dd > a:first-child {
    padding-left: 0;
  }

  /* content2 */
  .content2 > p {
    margin-top: 40px;
    margin-left: 35px;
    font-size: 16px;
    color: #fff;
  }
  .content2 > form {
    margin-top: 60px;
    margin-left: 35px;
  }
  .content2 > form > fieldset > dl > dt {
    margin-bottom: 20px;
  }
  .content2 > form > fieldset > dl > dt > label {
    color: #a9a9a9;
    font-size: 12px;
  }
  form dd.Select_Area select {
    width: 226px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #a9a9a9;
    background-color: #000;
    color: #fff;
  }
  form dd {
    margin-top: 60px;
  }
  form dd:nth-of-type(1) {
    margin-top: 0px;
  }

  form dd:nth-of-type(2) > input {
    width: 750px;
    padding-bottom: 12px;
    font-size: 16px;
    background-color: #000;
    color: #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  form dd:nth-of-type(3) > textarea {
    width: 704px;
    height: 202px;
    border: 1px solid #a9a9a9;
    font-size: 16px;
    background-color: #000;
    color: #a9a9a9;
    padding: 23px;
  }
  form dd:nth-of-type(3) > p {
    color: #fff;
    margin-left: 709px;
  }
  form dd:nth-of-type(4) {
    position: relative;
  }
  form dd:nth-of-type(4) > input {
    width: 530px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #000;
  }
  form dd:nth-of-type(4) > input.attach_btn {
    background-color: #000;
  }

  form div.submit > input {
    margin-left: 330px;
    margin-top: 100px;
    width: 161px;
    height: 53px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
  }

  /* footer */
  .footer_inner {
    position: relative;
  }
  .footer_inner > .foot_banner > .foot_banner_bg {
    width: 1072px;
    height: 124px;
    background: url(../images/Play/footer-logo-dark.png) no-repeat 50% 50%;
    background-size: 1072px 124px;
  }
  .footer_inner > .foot_banner > .foot_video {
    position: absolute;
    left: 275px;
    top: 0;
    width: 290px;
    height: 119px;
  }
  .footer_inner > .sns {
    position: absolute;
    right: 0;
    top: 0;
  }

  .footer_inner > .sns > ul > li {
    display: inline;
    padding-left: 40px;
    opacity: 0.5;
  }
  .footer_inner > .sns > ul > li > a > img {
    height: 26px;
  }
  .footer_inner > address {
    position: absolute;
    right: 0;
    top: 49px;
    color: #fff;
    opacity: 0.5;
  }
  .footer_inner > .copy {
    position: absolute;
    right: 0;
    top: 80px;
    color: #fff;
    opacity: 0.5;
  }

  /* top 버튼 */
  #footer > .top {
    position: absolute;
    right: 45px;
    bottom: 605px;
  }
  #footer > .top > a > img {
    width: 68px;
    height: 86px;
  }
  #footer > .top:hover {
    animation: top_ani 0.8s linear 0s infinite;
  }
  @keyframes top_ani {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-100px);
    }
  }
}
